[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nplyr"]
	path = nplyr
	url = https://github.com/markjrieke/nplyr
[submodule "workboots"]
	path = workboots
	url = https://github.com/markjrieke/workboots
